.company {
  font-family: "Merriweather";
  font-size: 2.5rem !important;
  font-color: white;
}

.navbar-brand {
  color: white !important;
}
.navbar-text {
  color: white !important;
}

Button {
  margin-right: 1rem;
}
